@font-face {
  font-family: "Pretendard Black";

  src: url(/public/fonts/Pretendard-Black.otf);
}

@font-face {
  font-family: "Pretendard ExtraBold";

  src: url(/public/fonts/Pretendard-ExtraBold.otf);
}

@font-face {
  font-family: "Pretendard Bold";

  src: url(/public/fonts/Pretendard-Bold.otf);
}

@font-face {
  font-family: "Pretendard SemiBold";

  src: url(/public/fonts/Pretendard-SemiBold.otf);
}

@font-face {
  font-family: "Pretendard Medium";

  src: url(/public/fonts/Pretendard-Medium.otf);
}

@font-face {
  font-family: "Pretendard Regular";

  src: url(/public/fonts/Pretendard-Regular.otf);
}

@font-face {
  font-family: "Pretendard Light";

  src: url(/public/fonts/Pretendard-Light.otf);
}

@font-face {
  font-family: "Pretendard Thin";

  src: url(/public/fonts/Pretendard-Thin.otf);
}

@font-face {
  font-family: "Pretendard ExtraLight";

  src: url(/public/fonts/Pretendard-ExtraLight.otf);
}

html {
  font-family: "Pretendard Regular", system-ui, sans-serif;
  background-color: var(--background);
}

:root {
  --text: 0 0% 2%;
  --background: #fff;
  --primary: 2 12% 50%;
  --secondary: 30 12% 71%;
  --accent: 35 12% 64%;
}

.dark {
  --text: 0 0% 98%;
  --background: 0 0% 4%;
  --primary: 2 12% 50%;
  --secondary: 30 12% 29%;
  --accent: 35 12% 36%;
}

/* transparent autofill */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}
